Source: ros-melodic-robot-indicator
Section: misc
Priority: optional
Maintainer: turtlebot <code@hxr.io>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-melodic-robot-indicator
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python3-rospkg-modules
Description: ROS Robot Status Indicator
